<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Game</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
    <script src="/static/js/chessboard-1.0.0.min.js"></script>
    <script type="module" src="/static/js/chess.js"></script>
    <script type="module" src="/static/js/game.js"></script>

    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .game-container {
            text-align: center;
        }

        #myBoard {
            width: 600px;
        }

        #gameStatus {
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="game-container" id="game-data" data-game-id="{{ .GameID }}" data-color="{{ .Color }}">

        <h1>Chess Game</h1>
        <div id="myBoard"></div>
        <div id="gameStatus"></div>
    </div>

    <!-- <script src="/static/js/game.js"></script> -->

</body>

</html>
